:root {
    --trilist-color-accent: var(--primary-600);
    --trilist-color-bg-primary: var(--color-white);
    --trilist-color-bg-secondary: var(--primary-50);
    --trilist-color-border-primary: var(--gray-200);
    --trilist-color-border-secondary: oklch(from var(--primary-600) l c h / 0.1);
    --trilist-color-text-primary: var(--gray-950);
    --trilist-color-text-secondary: var(--primary-600);
    --trilist-color-text-tertiary: var(--gray-400);
    --trilist-color-text-inversed: var(--color-white);

    --trilist-border-radius: var(--radius-lg);
    --trilist-border-radius-sm: var(--radius-md);

    @media (min-width: 640px) {
        --trilist-text-base: var(--text-sm);
        --trilist-text-sm: var(--text-xs);
        --trilist-checkbox-y: calc(var(--spacing) * 0.75);
    }

    --trilist-select-x: calc(var(--spacing) * 3);
    --trilist-select-y: calc(var(--spacing) * 1.5);
}
:root.dark {
    --trilist-color-accent: var(--primary-500);
    --trilist-color-bg-primary: oklch(0.15 0 0);
    --trilist-color-bg-secondary: oklch(from var(--primary-400) l c h / 0.1);
    --trilist-color-border-primary: var(--gray-700);
    --trilist-color-border-secondary: oklch(from var(--primary-400) l c h / 0.3);
    --trilist-color-text-primary: var(--color-white);
    --trilist-color-text-secondary: var(--primary-400);
    --trilist-color-text-tertiary: var(--gray-500);
    --trilist-color-text-inversed: var(--color-white);
}
